body {
    /*font-family: Arial, sans-serif; */
    font-family: "Noto Sans KR", sans-serif;
    background-color: #1c1c1e;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container-detail {
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    background-color: #222;
}
.header-detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.header-detail .date-time {
    font-size: 1.2em;
}
.content-detail {
    display: flex;
    flex-direction: row;
}
.content-detail img {
    width: auto;
    height: auto;
}
.content-text-detail {
    margin-left: 20px;
}
.content-text-detail .title {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.content-text-detail .price-datail {
    font-size: 2em;
    color: #ff6347;
    margin-bottom: 10px;
}

.button-div-detail {
    display: flex;
    gap: 10px;
}
.button-div-detail button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
}

.close-button {
    background-color: #f00;
    color: #fff;
}

.qr-section {
    position: absolute;
    bottom: 80px;
    right: 100px;
}

.footer-detail {
    margin-top: 20px;
    font-size: 0.9em;
    color: #aaa;
}