<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GENIE TV</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
    </style>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="logo-menu">
                <!-- <img src="../static/img/genie_tv_logo.png" alt="GENIE TV Logo" class="logo" tabindex="0"> -->
                <nav class="menu">
                    <a href="#" tabindex="0">GENIE TV</a>
                    <a href="#" tabindex="0" id="my-menu">마이메뉴</a>
                    <a href="#" tabindex="0">영화, TV, VOD</a>
                    <a href="#" tabindex="0">프라임슈퍼팩</a>
                    <a href="#" tabindex="0">베스킨라빈스</a>
                    <a href="#" tabindex="0">채널</a>
                    <a href="#" tabindex="0">키즈랜드</a>
                    <a href="#" tabindex="0">지니 APPs</a>
                    <a href="#" tabindex="0">OTT</a>
                    <a href="#" tabindex="0">NETFLIX</a>
                </nav>
            </div>
        </header>
        <section class="top-banner">
            <div class="banner-content" tabindex="0">
                <img src="../static/img/top_banner_img.png" alt="Top Banner" class="default-image">
                <!-- <div class="banner-text">
                    <h1>즐거움이 배가 되는 KT알파 쇼핑!</h1>
                    <p>2024 엘로엘 팡팡 빅 선쿠션 S8 기본구성</p>
                    <p>혜택가 69,900원</p> 
                </div> -->
            </div>
        </section>
        <section class="home-shopping-now">
            <h2>{{ reco_cw }}</h2>
            <br />
            <div class="cards-container">
                <button class="prev" aria-label="Previous">&lt;</button>
                <div class="cards-wrapper">
                    <div class="cards">
                        {% for card in cards %}
                        <div class="card" tabindex="0" data-url='/product/{{ card.prod_id }}'>
                            <div class="channel-number">{{ card.ch_no }}</div>
                            <div class="channel-name">{{ card.ch_nm }}</div>
                            <img src={{ card.productImgUrl }} alt="Product Image" class="product-image">
                            <div class="product-details">
                                <!--<img src="path/to/product-details1.jpg" alt="Product Details" class="product-details-image">-->
                                <div class="product-name">{{ card.bom_prod_nm }}</div>
                                <div class="product-price">{{ card.price }}원</div> <!--price? origin price?-->
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <button class="next" aria-label="Next">&gt;</button>
            </div>
        </section>
        <section class="top-videos">
            <h2>무료 인기 뮤직비디오 TOP 30</h2>
            <div class="videos">
                <div class="video" tabindex="0">
                    <img src="" alt="Video 1" class="default-image">
                    <p>Video 1</p>
                </div>
                <div class="video" tabindex="0">
                    <img src="" alt="Video 2" class="default-image">
                    <p>Video 2</p>
                </div>
                <div class="video" tabindex="0">
                    <img src="" alt="Video 3" class="default-image">
                    <p>Video 3</p>
                </div>
                <!-- Add more videos as needed -->
            </div>
        </section>
        <section class="subscription-options">
            <h2>이제 합리적 가격으로 무제한 시청하세요!</h2>
            <div class="options">
                <div class="option" tabindex="0">
                    <img src="" alt="Option 1" class="default-image">
                    <p>Option 1</p>
                </div>
                <div class="option" tabindex="0">
                    <img src="" alt="Option 2" class="default-image">
                    <p>Option 2</p>
                </div>
                <div class="option" tabindex="0">
                    <img src="" alt="Option 3" class="default-image">
                    <p>Option 3</p>
                </div>
                <!-- Add more options as needed -->
            </div>
        </section>
    </div>
    <script src="../static/js/scripts.js"></script>

    <!-- Add this just before the closing </body> tag -->
    <div id="overlay" class="overlay">
        <div class="overlay-content" id="overlay-content">
            <!-- Content from detail_product.html will be loaded here -->
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.getElementById('my-menu').focus();
        });
    </script>

</body>
</html>
